/*pagina historia One Piece*/
.costext {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border: none;
    background-position: center;
    background-color: #dfd8d8;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
  }
#h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #1d4979;
    font-weight: bold;
}
#h3{
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.logo{
    text-align: center;
    /* Eliminada la propietat scale incorrecta */
    background-color: #535353;
}
#facebook{
    transform: scale(0.8); /* Corregida la propietat scale */
}
#twitter{
    transform: scale(0.8); /* Corregida la propietat scale */
}
.links{
    background-color: #535353;
    margin-top: 20px;
    font-size: 17px;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
.links ul {
    text-align: center;
}
.links ul li {
    display: inline;
    margin-right: 15px;
}
.links ul li a{
    text-decoration: none;
    color: orange;
    padding: 10px 5px;
}
.links ul li a:hover {
    color: black;
}
#p{
    font-weight: bold;
}
.img1{
    position: relative;
    text-align: center;
    transform: scale(0.9); /* Corregida la propietat scale */
}
.footer{
    text-align: center;
    background-color:darkorchid;
    width: 100%;
    height: 100%;
}
#h2{
    font-family: 'Times New Roman', Times, serif;
}
html{
    background-color: yellow;
}
.wiki{
    color: orange;
}
.wiki a:hover{
    color:black;
}

/*pagina d'arcs One piece*/
.arcs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: auto;
    padding: auto;
}

#tit {
    position: relative;
    padding-left: 24px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: rgb(31, 124, 124);
    font-weight: bold;
}


#tit::before {
    content: ""; 
    position: absolute;
    left: 0;
    top: 0; 
    width: 30px; 
    height: 20px;
    background-image: url('img/icono-cine.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

.container {
    margin: 0;
    margin-right: 20%;
    margin-left: 20%;
}

.fotocentrada img {
    max-width: 100%;
    float: right;
}
/*pagina personatges One Piece*/
.fotocentrada2 img{
    width: 120px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
}
#subrallat{
    background-color:#535353;
    display: flex;
    justify-content: center;
    width: 190px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto;
    color: orange; /* Combinades les dues propietats del selector duplicat */
}
#subrallat a{
    color: orange; /* Afegida la definició per l'enllaç */
    text-decoration: none;
}
#subrallat a:hover{
    color: white;
}
#subrallat2{
    color: orange;
    text-decoration: none;
}
#subrallat2:hover{
    color: white;
}
.personatges{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: justify;
}